<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar Dueños</title>
</head>
<body>
<h1>Agregar dueños</h1>
<form th:action="@{/guardarDuenio}" method="post" th:object="${duenio}">
<label for="nombre">Nombre</label>
    <!-- en el video agrega aca algo que elimine -->
    <input type="text" id="nombre" name="nombre"  required>
     <label for="direccion">Dirección</label>
    <input type="text" id="direccion" name="direccion" >
    <br><hr><br>
    <button type="submit">Guardar Dueño</button>
</form>
<hr>
<a th:href="@{/duenios}">Ver lista de dueños</a>
</body>
</html>